.simple-spinner {
  width: 60px;
  height: 60px;
}

.simple-spinner span {
  display: block;
  width: 60px;
  height: 60px;
  border: 6px solid transparent;
  border-radius: 50%;
  border-right-color: rgba(0, 115, 255, 0.7);
  animation: spinner-anim 0.8s linear infinite;
}

@keyframes spinner-anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
