.newsPage{
    margin: 20px;
    border-radius: 10px;
    background: whitesmoke;
}
.newsPage__wrapper{
    padding: 20px;
}
.newsPage__title{
    margin-bottom: 4px;
}
.newsPage__by{
    color: gray;
}
.newsPage__publish{
    text-align: right;
    color: gray;
    margin-bottom: 20px;
}
.newsPage__img{
    display: flex;
    justify-content: center;
    align-items: center;

}
.newsPage__img>img{
    width: 90%;
    margin-bottom: 20px;
    border-radius: 10px;
}
.newsPage__content {
    font-size: 16px; 
    line-height: 1.5; 
    margin-bottom: 20px; 
    text-align: justify; 
    color: #333; 
  }