* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 900px;
  max-width: 80%;
}
.error{
  padding: 20px 30px;
  border-radius: 10px;
  background: rgba(255, 2, 2, 0.205);
  color: red;
  text-align: justify;
}